[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
solc_version = "0.8.20"

# Default RPC URL for local Anvil
[rpc_endpoints]
localhost = "http://localhost:8545"